# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Examples on how to do arithmetics

Some of the popular languages that Data Scientists use are:

- Python
- R
- C++

Some of the commonly used libraries used by Data Scientists include:

- Pandas
- Numpy
- Scipy

|Data Science Tools|
|-----------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Mohammadreza Nozari